*.jar
*~
*.swp
*.swo
*.6
*.8
*.out
*.exe

#python specific
*.pyc

#java specific
*.class

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Eclipse project files

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
